<% provide(:title, "Accueil") %>

<div class="center jumbotron">
  <h1>Bienvenue !</h1>
  <p>&darr; Pour vous inscrire, cliquer simplement sur le bouton ci-dessous &darr;</p>
  <%= link_to "S'inscrire maintenant", signup_url , class: "btn btn-lg btn-primary" %>
</div>


