<h1>Application Twitter</h1>

<p>Bonjour <%= @utilisateur.nom %></p>

<p>Bienvenue sur notre application, veuillez cliquez sur le lien ci-dessous pour activer votre compte :</p>

<%= link_to "Activer", edit_account_activation_url(@utilisateur.activation_token, 
email: @utilisateur.email ) %>



